<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/page/search.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>

  <div class="gradient-wrapper">
    <%- include("./partials/nav.ejs") %>

    <div class="results">

      <div class="info-text">
        <div class="main">Showing results for&nbsp</div>
        <div class="query"><%= query %></div>
      </div>

      <% queryResults.forEach(group => { %>
      <% group.forEach(entity => { %>


      <% if(!entity.placementText) { %>
      <a href="/player/<%= entity._id %>" class="repr-card">
        <%} else { %>
        <a href="/team/<%= entity._id %>" class="repr-card">
          <%}%>

        <img src="<%= entity.imageURL %>" alt="">
          <div class="text">
            <div class="row">
              <div class="name"><%= entity.name %></div>

              <% if(!entity.placementText) { %>
              <div class="number"><%= entity.number %></div>
              <%} else { %>
              <div class="number"><%= entity.record %></div>
              <%}%>

          </div>
            <% if(!entity.placementText) { %>
              <div class="team"><%= entity.position %></div>
              <%} else { %>
              <div class="team"><%= entity.placementText %></div>
              <%}%>

        </div>

      </a>
      <% }); %>
              <%}); %>
            </div>

          </div>


</body>

</html>
